.App {
  text-align: left;
  background-color: whitesmoke;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.Tags {
  display: block;
}

.Tag {
  background-color: aqua;
  margin: 10px;
  padding: 3px 10px;
  float: left;
  border-radius: 5%;
  color: white;
  font-weight: bold;
}

.Tag:hover {
  background-color: aquamarine;
}