.App {
  text-align: center;
  margin: 100px auto;
  background-color: whitesmoke;
  height: 40vh;
  width: 1000px;
  padding: 10px;  
}

* {
  margin: 0;
  padding: 0;
}

.Service .Title {
  margin: 20px;
}

.Service .Element-group {
  display: flex;
  justify-content: space-evenly;
}

.Service .Element-group .Element {
  width: 30%;
  text-align: left;
}

.Service .Element-group .Element .Element-image {
  width: 300px;
  height: 180px;
  background-color: darkcyan;
  font-size: x-large;
  display: table-cell;
  vertical-align: middle;
  color: white;
  text-align: center;
}

.Service .Element-group .Element .Element-title {
  font-weight: bold;
  font-size: x-large;
  margin: 10px auto;
}
