.App {
  text-align: left;
  width: 1000px;
  background-color: whitesmoke;
  margin: 50px auto;
  padding: 20px;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

li:not(li:last-child) {
  margin: 20px auto;
  border-bottom: 1px red dashed;
  padding-bottom: 10px;
}

.Image {
  width: 100px;
  height: 100px;
  background-color: deeppink;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  color: white;
  font-size: xxx-large;
}

.Component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Content-group {
  width: 85%;
  padding-left: 20px;
}

.Title {
  font-weight: bold;
  font-size: larger;
  margin: 10px auto;
}